<div class="min-h-[100vh] flex flex-col justify-between items-center">
    <header class="p-5 w-100 my-0 max-w-[1920px] flex gap-1 items-center w-full">
        @if (loggedIn) {
            <app-sidebar #sidebarRef [listas]="listas" [idListaSeleccionada]="idListaSeleccionada" (setLista)="guardarLista($event)" (predeterminarLista)="predeterminarLista($event)" (eliminarLista)="eliminarLista($event)" (anadirCompartida)="anadirCompartida($event)" (dejarDeCompartir)="guardarLista($event, true)" [cargando]="cargando"></app-sidebar>
            <p-confirmDialog>
                <ng-template pTemplate="message" let-message>
                    <div class="flex flex-col items-center w-full gap-3 border-bottom-1 surface-border">
                        <i [class]="'pi ' + (message?.icon ? message.icon : 'pi-exclamation-circle') + ' text-6xl text-primary-500'"></i>
                        <textarea *ngIf="message.message" class="w-full bg-transparent border-none p-0 text-center" disabled>{{ message.message }}</textarea>
                    </div>
                </ng-template>
            </p-confirmDialog>
        }
        <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
        <p-accordion class="grow" [activeIndex]="!loggedIn ? 0 : null">
            <p-accordionTab [header]="!loggedIn ? 'Iniciar sesión o registrarse usar la aplicación' : 'Opciones usuario'">
                <div class="flex items-center gap-2 flex-wrap justify-center">
                @if (!loggedIn) {
                    <app-login class="w-full flex justify-center" (loguearse)="inicializarDatosBBDD()"></app-login>
                } @else {
                    @if(isEmailAuth()) {
                        <p-button (onClick)="visibleUpdateEmailPopup = true" icon="pi pi-user-edit" label="Actualizar email"></p-button>
                        <p-button (onClick)="visibleUpdatePasswordPopup = true" icon="pi pi-pencil" label="Actualizar contraseña"></p-button>
                    }
                    <p-button severity="danger" (onClick)="visibleDeleteUserPopup = true" icon="pi pi-trash" label="Eliminar usuario"></p-button>
                    <p-button severity="contrast" (onClick)="logout()" label="Cerrar sesión"/>
                }
                </div>
            </p-accordionTab>
        </p-accordion>
    </header>

    <main class="p-5 pt-0 my-0 max-w-[1920px] flex flex-col gap-2 grow w-full">
        @if (cargando) {
            <p-progressSpinner ariaLabel="loading" class="w-full text-center pt-5"/>
        } @else {
            @if (loggedIn && listaSeleccionada()) {
                <section class="flex items-center gap-2 justify-end">
                    <div class="flex items-center gap-2">
                        <div class="flex gap-2 items-baseline bg-blue-600 p-2 rounded cursor-pointer text-white" (click)="formAddEditElemento.reset(); visiblePopupAddElemento = true">
                            <i class="pi pi-plus"></i>
                            <span>Añadir elemento</span>
                        </div>
                        <div class="flex gap-2 items-baseline bg-blue-600 p-2 rounded cursor-pointer text-white" (click)="formImportElementoEstructurado.reset({ quitarPrimeraLinea: true }); visiblePopupImportElementos = true">
                            <i class="pi pi-file-import" pTooltip="Importar elementos desde texto estructurado" tooltipPosition="left"></i>
                        </div>
                        <i class="pi pi-ellipsis-v cursor-pointer" (click)="overlayOptions.toggle($event)"></i>
                    </div>
                    <p-overlayPanel #overlayOptions>
                        <section class="flex flex-col gap-3">
                            <div (click)="overlayOptions.hide(); sidebarComponent.predeterminarListaEmit(listaSeleccionada().id)" class="hover:text-blue-500 cursor-pointer">
                                <i class="pi pi-bookmark text-blue-400 mr-2"></i>
                                <span>Predeterminar lista</span>
                            </div>
                            <div class="hover:text-orange-500 cursor-pointer" (click)="overlayOptions.hide(); sidebarComponent.abrirEditarLista(listaSeleccionada()); sidebarComponent.visiblePopupEditarList = true;">
                                <i class="pi pi-pencil text-orange-400 mr-2"></i>
                                <span>Editar nombre y descripcion</span>
                            </div>
                            <div class="hover:text-green-500 cursor-pointer" (click)="overlayOptions.hide(); sidebarComponent.abrirEditarLista(listaSeleccionada()); sidebarComponent.visiblePopupCompartirList = true;">
                                <i [class]="listaSeleccionada()?.compartida ? 'pi pi-share-alt text-green-400 mr-2' : 'pi pi-cog text-green-400 mr-2'"></i>
                                <span>{{ !listaSeleccionada()?.compartida ? 'Compartir' : 'Gestionar compartir' }} lista</span>
                            </div>
                            <div (click)="overlayOptions.hide(); sidebarComponent.eliminarListaEmit(listaSeleccionada(), $event)" class="hover:text-red-500 cursor-pointer">
                                <i class="pi pi-trash text-red-400 mr-2"></i>
                                <span>Eliminar lista</span>
                            </div>
                        </section>
                    </p-overlayPanel>
                </section>
                <section class="flex items-center justify-center gap-2 flex-wrap">
                    <div class="flex gap-2 items-baseline justify-center">
                        <h1 class="text-center break-all mb-0 grow">{{ listaSeleccionada().nombre }}</h1>
                        <p-button icon="pi pi-folder-open text-white" severity="secondary" pTooltip="Gestionar categorías" (onClick)="visiblePopupGestionarCategorias = true"></p-button>
                    </div>
                </section>
                @if (listaSeleccionada().descripcion) {
                    <textarea class="w-full bg-transparent border-none p-0 text-center" disabled>{{ listaSeleccionada()?.descripcion }}</textarea>
                }
                <div class="flex gap-2 items-center">
                    <input placeholder="Buscar por nombre" pInputText class="w-full" autocomplete="off" [(ngModel)]="nombreFiltrar"/>
                    <p-button [icon]="'pi ' + (modoFiltradoTotal ? 'pi-sparkles' : 'pi-filter')" severity="info" [pTooltip]="modoFiltradoTotal ? 'Activar filtrado resaltar' : 'Activar filtrado total'" (onClick)="modoFiltradoTotal = !modoFiltradoTotal"></p-button>
                </div>
                <ul class="list-none flex flex-col gap-3 w-full p-0" cdkDropList (cdkDropListDropped)="drop($event)">
                    <!-- Lo separamos asi para poder ordenar con Drag and Drop -->
                    @for (listaElementos of [listaSeleccionada().elementos || [], listaSeleccionada().elementos || []]; let index0 = $index; track index0) {
                        <div class="flex gap-2 items-center" *ngIf="elementosCheckeadosLista(index0 == 1)">
                            <h3 class="mt-1 mb-0">{{ $index == 0 ? 'Pendiente' : 'Tachado' }}</h3>
                            <p-badge [value]="elementosCheckeadosLista(index0 == 1)"/>
                        </div>
                        
                        @for (elemento of listaElementos || []; let index1 = $index; track index1) {
                            @if (index0 == 1 ? elemento?.checkeado : !elemento?.checkeado) {
                                <!-- Categoria pertinente -->
                                @if (primerElementoDeCategoria(elemento)) {
                                    <h4 class="text-green-400 my-1">{{elemento?.categoria ? elemento.categoria : 'Sin categoría'}}</h4>
                                }

                                <!-- Para el filtrado, aplicamos este ngClass para que funcione con el drag and drop -->
                                <div [class]="'flex gap-2 items-center ' + claseSiElementoPasaFiltro(elemento?.nombre)" [cdkDragDisabled]="modoFiltradoTotal && nombreFiltrar()?.length != 0" cdkDrag [cdkDragStartDelay]="500">
                                    <p-checkbox 
                                    [(ngModel)]="elemento.checkeado"
                                    [binary]="true" 
                                    inputId="binary"
                                    (click)="toggleCheck(elemento)"
                                    />
                                    <!-- Placeholder del drag and drop -->
                                    <div class="h-[5px] bg-green-500 rounded" *cdkDragPlaceholder></div>
                                    <li class="flex gap-1 items-center w-full">
                                        @if (elemento.variedades?.length) {
                                            <details [class]="(elemento?.checkeado ? 'bg-purple-900' : 'bg-blue-600') + ' p-2 rounded grow text-white'">
                                                <summary class="flex flex-col justify-center gap-2 cursor-pointer">
                                                    <span class="flex gap-2 items-center w-full">
                                                        <i class="pi pi-th-large text-yellow-400" pTooltip="Variedades" tooltipPosition="top"></i>
                                                        @if (elemento.cantidad) {
                                                            <section class="flex gap-1 text-white bg-black border border-solid border-white p-1 rounded justify-self-end">
                                                                <span>{{elemento.cantidad}}</span>
                                                                @if (elemento.unidadMedida) {
                                                                    <span>{{elemento.unidadMedida}}</span>
                                                                }
                                                            </section>
                                                        }
                                                        <span class="grow" [ngClass]="{'line-through': elemento?.checkeado}">{{elemento.nombre}}</span>
                                                    </span>
                                                    @if (elemento?.descripcion) {
                                                        <span class="text-[lightgray]">{{ elemento.descripcion }}</span>
                                                    }
                                                </summary>
                                                <ul class="flex flex-col gap-2 py-2">
                                                    @for (variedad of elemento.variedades; let index3 = $index; track index3) {
                                                    <li>{{ variedad }}</li>
                                                    }
                                                </ul>
                                            </details>
                                        } @else {
                                            <div [class]="(elemento?.checkeado ? 'bg-purple-900' : 'bg-blue-600') + ' bg-blue-600 p-2 rounded grow flex flex-col justify-center gap-2 text-white'">
                                                <span class="flex gap-2 items-center w-full">
                                                    @if (elemento.cantidad) {
                                                        <section class="flex gap-1 text-white bg-black border border-solid border-white p-1 rounded">
                                                            <span>{{elemento.cantidad}}</span>
                                                            @if (elemento.unidadMedida) {
                                                                <span>{{elemento.unidadMedida}}</span>
                                                            }
                                                        </section>
                                                    }
                                                    <span class="grow" [ngClass]="{'line-through': elemento?.checkeado}">{{elemento.nombre}}</span>
                                                </span>
                                                @if (elemento?.descripcion) {
                                                    <span class="text-[lightgray]">{{ elemento.descripcion }}</span>
                                                }
                                            </div>
                                        }
                                        <div class="flex items-center gap-2">
                                            <i class="ms-1 pi pi-pencil cursor-pointer text-orange-400" pTooltip="Editar" tooltipPosition="left" (click)="openEditarElemento(elemento)"></i>
                                            <i class="pi pi-times-circle text-red-600 cursor-pointer" pTooltip="Borrar elemento" tooltipPosition="left" (click)="borrarElemento(elemento)"></i>
                                        </div>
                                    </li>
                                </div>
                            }
                        }
                    }
                </ul>
            } @else {
                <h3 class="w-full text-center">No hay datos a mostrar</h3>
            }
        }
    </main>
    <app-footer class="w-full"></app-footer>
</div>

<!-- Popups -->
<!-- Update email -->
<p-dialog 
    header="Header" 
    [(visible)]="visibleUpdateEmailPopup" 
    [modal]="true" 
    draggable="false"
    maximizable
    [dismissableMask]="true"
    [style]="{ width: '25rem', minWidth: '25rem', minHeight: '215px' }"
    styleClass="p-3"
>
    <ng-template pTemplate="header">
        <h2 class="text-blue-600">Actualizar email</h2>
    </ng-template>
    
    <form [formGroup]="updateEmailForm" (ngSubmit)="updateUserEmail()" (keydown.enter)="updateUserEmail()" class="flex flex-col items-center gap-3 w-full py-2">
        <input placeholder="Email anterior" pInputText id="previousEmail" class="flex-auto w-full text-lg" autocomplete="off" formControlName="previousEmail"/>
        <input placeholder="Nuevo Email" pInputText id="email" class="flex-auto w-full text-lg" autocomplete="off" formControlName="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"/>
        <input placeholder="Confirmar Nuevo Email" pInputText id="emailConfirmation" class="flex-auto w-full text-lg" autocomplete="off" formControlName="emailConfirmation"/>

        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visibleUpdateEmailPopup = false" 
            />
            <p-button 
                label="Actualizar" 
                [outlined]="true" 
                (onClick)="updateUserEmail()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Update password -->
<p-dialog 
header="Header" 
[(visible)]="visibleUpdatePasswordPopup" 
[modal]="true" 
draggable="false"
maximizable
[dismissableMask]="true"
[style]="{ width: '25rem', minWidth: '25rem', minHeight: '215px' }"
styleClass="p-3"
>
    <ng-template pTemplate="header">
        <h2 class="text-blue-600">Actualizar contraseña</h2>
    </ng-template>

    <form [formGroup]="updatePasswordForm" (ngSubmit)="updateUserPassword()" (keydown.enter)="updateUserPassword()" class="flex flex-col items-center gap-3 w-full py-2">
        <input placeholder="Nueva Contraseña" pInputText id="password" class="flex-auto w-full text-lg" autocomplete="off" formControlName="password" type="password"/>
        <input placeholder="Confirmar Nueva Contraseña" pInputText id="passwordConfirmation" class="flex-auto w-full text-lg" autocomplete="off" formControlName="passwordConfirmation" type="password"/>

        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visibleUpdatePasswordPopup = false" 
            />
            <p-button 
                label="Actualizar" 
                [outlined]="true" 
                (onClick)="updateUserPassword()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Delete user -->
<p-dialog 
    header="Header" 
    [(visible)]="visibleDeleteUserPopup" 
    [modal]="true" 
    draggable="false"
    maximizable
    [dismissableMask]="true"
    styleClass="p-3"
>
    <ng-template pTemplate="header">
        <h2 class="text-red-600">ATENCIÓN</h2>
    </ng-template>
    
    <p class="text-center py-2">¿Estás seguro de que quieres eliminar tu usuario?</p>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visibleDeleteUserPopup = false" 
            />
            <p-button 
                label="Eliminar" 
                [outlined]="true" 
                severity="danger"
                (onClick)="deleteUser()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Anadir elemento -->
<p-dialog 
    [(visible)]="visiblePopupAddElemento" 
    [modal]="true" 
    draggable="false"
    maximizable
    [dismissableMask]="false"
    [closeOnEscape]="false"
    styleClass="p-3 w-[500px]"
    (onShow)="ponerFocusInputPrincipal('autocomplete')"
>
    <ng-template pTemplate="header">
        <h2>Añadir elemento</h2>
    </ng-template>
    
    <form [formGroup]="formAddEditElemento" (ngSubmit)="addElemento()" (keydown.control.enter)="addElemento()" class="flex flex-col items-center gap-3 w-full">
        <p-autoComplete 
        formControlName="nombre"
        [suggestions]="listaFiltradaElementos" 
        (completeMethod)="filtrarNombresElementos($event)" 
        completeOnFocus
        placeholder="Nombre del elemento"
        dropdown
        #inputPrincipal
        styleClass="w-full"
        class="w-full"
        emptyMessage="Crea un nuevo elemento"
        optionValue="nombre"
        optionLabel="nombre"
        appendTo="body"
        >
            <ng-template let-elemento pTemplate="item">
                <span class="text-wrap">{{ elemento.nombre }}</span>
            </ng-template>
        </p-autoComplete>
        <div class="flex gap-2 items-center">
            <input placeholder="Cantidad" min="0" pInputText id="cantidad" class="w-full" autocomplete="off" formControlName="cantidad" type="number"/>
            <input placeholder="Medida" pInputText id="unidadMedida" class="w-full" autocomplete="off" formControlName="unidadMedida"/>
        </div>
        <textarea placeholder="Descripción" pInputText id="descripcion" class="flex-auto w-full p-3" autocomplete="off" formControlName="descripcion"></textarea>

        <p-autoComplete 
        formControlName="categoria"
        [suggestions]="listaFiltradaCategorias" 
        (completeMethod)="filtrarNombresCategorias($event)" 
        completeOnFocus
        placeholder="Categoría"
        dropdown
        styleClass="w-full"
        class="w-full"
        emptyMessage="Crea una nueva categoría"
        appendTo="body"
        >
            <ng-template let-categoria pTemplate="item">
                <span class="text-wrap">{{ categoria ? categoria : 'Sin categoría' }}</span>
            </ng-template>
        </p-autoComplete>

        <div class="flex gap-2 items-center flex-nowrap w-full">
            <input placeholder="Añadir variedad" pInputText id="variedadActual" #nombre class="flex-auto w-full" autocomplete="off" formControlName="variedadActual" (keydown.enter)="anadirVariedad()"/>
            <p-button icon="pi pi-plus" (onClick)="anadirVariedad()"></p-button>
        </div>
        <section class="flex flex-col gap-3 w-full mt-2">
            <span>Variedades</span>
            <ul class="flex items-center gap-x-10 gap-y-3 m-0 ps-0 flex-wrap">
                @for (variedad of formAddEditElemento?.get('variedades')?.value; track $index) {
                <li class="flex items-center gap-2">
                    <span>{{ variedad }}</span>
                    <i class="pi pi-times-circle text-red-600 cursor-pointer" pTooltip="Borrar variedad" (click)="borrarVariedad(variedad)"></i>
                </li>
                }
            </ul>
        </section>
        
        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visiblePopupAddElemento = false" 
            />
            <p-button 
                label="Añadir" 
                [outlined]="true" 
                (onClick)="addElemento()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Editar elemento -->
<p-dialog 
    [(visible)]="visiblePopupEditElemento" 
    [modal]="true" 
    draggable="false"
    maximizable
    [closeOnEscape]="false"
    [dismissableMask]="false"
    styleClass="p-3 w-[500px]"
>
    <ng-template pTemplate="header">
        <h2>Editar elemento</h2>
    </ng-template>
    
    <form [formGroup]="formAddEditElemento" (ngSubmit)="editElemento()" (keydown.control.enter)="editElemento()" class="flex flex-col items-center gap-3 w-full">
        <p-autoComplete 
        formControlName="nombre"
        [suggestions]="listaFiltradaElementos" 
        (completeMethod)="filtrarNombresElementos($event)" 
        completeOnFocus
        placeholder="Nombre del elemento"
        dropdown
        styleClass="w-full inputPrincipal"
        class="w-full"
        emptyMessage="Crea un nuevo elemento"
        optionValue="nombre"
        optionLabel="nombre"
        appendTo="body"
        >
            <ng-template let-elemento pTemplate="item">
                <span class="text-wrap">{{ elemento.nombre }}</span>
            </ng-template>
        </p-autoComplete>
        <div class="flex gap-2 items-center">
            <input placeholder="Cantidad" min="0" pInputText id="cantidad" class="w-full" autocomplete="off" formControlName="cantidad" type="number"/>
            <input placeholder="Medida" pInputText id="unidadMedida" class="w-full" autocomplete="off" formControlName="unidadMedida"/>
        </div>
        <textarea placeholder="Descripción" pInputText id="descripcion" class="flex-auto w-full p-3" autocomplete="off" formControlName="descripcion"></textarea>

        <p-autoComplete 
        formControlName="categoria"
        [suggestions]="listaFiltradaCategorias" 
        (completeMethod)="filtrarNombresCategorias($event)" 
        completeOnFocus
        placeholder="Categoría"
        dropdown
        styleClass="w-full"
        class="w-full"
        emptyMessage="Crea una nueva categoría"
        appendTo="body"
        >
            <ng-template let-categoria pTemplate="item">
                <span class="text-wrap">{{ categoria ? categoria : 'Sin categoría' }}</span>
            </ng-template>
        </p-autoComplete>

        <div class="flex gap-2 items-center flex-nowrap w-full">
            <input placeholder="Añadir variedad" pInputText id="variedadActual" #nombre class="flex-auto w-full" autocomplete="off" formControlName="variedadActual" (keydown.enter)="anadirVariedad()"/>
            <p-button icon="pi pi-plus" (onClick)="anadirVariedad()"></p-button>
        </div>
        <section class="flex flex-col gap-3 w-full mt-2">
            <span>Variedades</span>
            <ul class="flex items-center gap-x-10 gap-y-3 m-0 ps-0 flex-wrap">
                @for (variedad of formAddEditElemento?.get('variedades')?.value; track $index) {
                <li class="flex items-center gap-2">
                    <span>{{ variedad }}</span>
                    <i class="pi pi-times-circle text-red-600 cursor-pointer" pTooltip="Borrar variedad" (click)="borrarVariedad(variedad)"></i>
                </li>
                }
            </ul>
        </section>
        
        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visiblePopupEditElemento = false" 
            />
            <p-button 
                label="Aplicar" 
                [outlined]="true" 
                (onClick)="editElemento()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Importar elementos -->
<p-dialog 
    [(visible)]="visiblePopupImportElementos" 
    [modal]="true" 
    draggable="false"
    maximizable
    [closeOnEscape]="false"
    [dismissableMask]="false"
    styleClass="p-3 w-[500px]"
    (onShow)="ponerFocusInputPrincipal()"
>
    <ng-template pTemplate="header">
        <h2>Añadir lista de elementos</h2>
    </ng-template>
    
    <form [formGroup]="formImportElementoEstructurado" (ngSubmit)="importElementos()" (keydown.control.enter)="importElementos()" class="flex flex-col items-center gap-3 w-full">
        <h4>Todos los elementos con el mismo nombre importados se combinarán y des-tacharán</h4>
        <textarea placeholder="Importará elementos por línea ignorando los que estén entre [ ] e ignorando la primera línea (título)" pInputText id="texto" class="flex-auto w-full p-3 inputPrincipal" autocomplete="off" formControlName="texto"></textarea>
        <section class="flex items-center gap-2 w-full justify-end">
            <p-checkbox formControlName="quitarPrimeraLinea" inputId="quitarPrimeraLinea" [binary]="true"/>
            <label for="quitarPrimeraLinea">Quitar primera línea</label>
            <i class="pi pi-info-circle cursor-pointer" (click)="mostrarMensaje('Quita la primera línea en caso de que importemos también el nombre de la lista lo primero')"></i>
        </section>
        
        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visiblePopupImportElementos = false" 
            />
            <p-button 
                label="Añadir" 
                [outlined]="true" 
                (onClick)="importElementos()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Gestionar categorias -->
<p-dialog 
    [(visible)]="visiblePopupGestionarCategorias" 
    [modal]="true" 
    draggable="false"
    maximizable
    [closeOnEscape]="false"
    [dismissableMask]="false"
    (onShow)="nombreCategoriaForm.set('')"
    styleClass="p-3 w-[500px]"
>
    <ng-template pTemplate="header">
        <h2>Gestionar categorías</h2>
    </ng-template>
    
    <div class="flex flex-col items-center gap-3 w-full">
        <section class="flex items-center gap-2">
            <i class="pi pi-exclamation-triangle"></i>
            <p>Todas las acciones realizadas en este panel, se realizarán a tiempo real</p>
        </section>

        <div class="flex items-center gap-2 w-full">
            <input placeholder="Nueva categoría" pInputText class="w-full" autocomplete="off" [(ngModel)]="nombreCategoriaForm" (keydown.enter)="anadirCategoria(nombreCategoriaForm())"/>
            <p-button icon="pi pi-plus" (onClick)="anadirCategoria(nombreCategoriaForm())"></p-button>
        </div>

        <div class="w-full flex flex-col gap-2">
            @for (categoria of listaSeleccionada()?.categorias || []; track categoria) {
              <div class="flex items-center justify-between gap-2" *ngIf="categoria">
                <span class="grow rounded bg-green-600 p-2">{{ categoria }}</span>
                <i class="pi pi-pencil text-orange-400 cursor-pointer" pTooltip="Editar categoría" tooltipPosition="top" (click)="visiblePopupEditarCategoria = true; nombreCategoriaForm.set(categoria); nombreCategoriaAnterior.set(categoria)"></i>
                <i class="pi pi-times-circle text-red-600 cursor-pointer" pTooltip="Eliminar categoría" (click)="confirmarEliminarCategoria(categoria)"></i>
              </div>
            }
        </div>
        
        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </div>
</p-dialog>

<!-- Editar categoria -->
<p-dialog 
    [(visible)]="visiblePopupEditarCategoria" 
    [modal]="true" 
    draggable="false"
    maximizable
    [dismissableMask]="false"
    (onHide)="nombreCategoriaForm.set(''); nombreCategoriaAnterior.set('')"
    styleClass="p-3 w-[500px] contenido-header-sin-padding"
    (onShow)="ponerFocusInputPrincipal()"
>
    <ng-template pTemplate="header">
        <h2>Editar categoría</h2>
    </ng-template>
    
    <div class="flex flex-col items-center gap-3 w-full">
        <div class="flex items-center gap-2 w-full">
            <input placeholder="Editar categoría" pInputText class="w-full inputPrincipal" autocomplete="off" [(ngModel)]="nombreCategoriaForm" (keydown.enter)="editarCategoria(nombreCategoriaForm(), nombreCategoriaAnterior())"/>
        </div>
        
        <p-messages class="w-full" [escape]="false" [(value)]="messages" [enableService]="false"></p-messages>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="visiblePopupEditarCategoria = false" 
            />
            <p-button 
                label="Confirmar" 
                [outlined]="true" 
                (onClick)="editarCategoria(nombreCategoriaForm(), nombreCategoriaAnterior())" 
            />
        </div>
    </ng-template>
</p-dialog>